::-webkit-scrollbar {
  width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgb(26, 26, 26, 0.9);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #f64c08;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(248, 49, 47);
}
